@use 'base/mixins' as m;
@use 'base/variables' as v;

/* ===== Mobile First =====*/
.plans {
   background-color: v.$secondary;

   &__heading {
      @include m.headingBorder(v.$white, v.$primary);
   }

   &__description {
      color: v.$white;
   }

   &__grid {
      display: flex;
      flex-direction: column;
   }

   /* ===== Tablet =====*/
   @include m.tablet {
      &__grid {
         flex-direction: row;
         max-width: 80rem;
         margin-inline: auto;
         margin-block-start: 10rem;
      }
   }
}

/* ===== Mobile First =====*/
.plan {
   flex-grow: 1;
   background-color: v.$white;
   padding: 16rem 4rem 4rem 4rem;
   border-bottom: 0.1rem solid #e1e1e1;

   &:nth-child(1) {
      @include m.iconBg('/build/img/icono_inicio.svg');
   }

   &:nth-child(2) {
      background-color: v.$primary;
      @include m.iconBg('/build/img/icono_negocio.svg');
      order: -1;
   }

   &:nth-child(3) {
      @include m.iconBg('/build/img/icono_pro.svg');
   }

   &__price {
      font-size: 1.8rem;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
   }

   /* ===== Tablet =====*/
   @include m.tablet {
      border: none;
      transition-property: transform;
      transition-duration: 0.3s;

      &:hover {
         transform: scale(1.1);
      }

      &:nth-child(2) {
         order: unset;
         // margin: -5rem 0;
         margin-block: -5rem;
         border-radius: 2rem;
         background-position: 50% 7rem;
         padding-top: calc(16rem + 5rem);
         z-index: 999;
      }
   }
}

/* ===== Mobile First =====*/
.list {
   &__item {
      text-align: center;
      margin-bottom: 2rem;

      &:last-of-type {
         margin-bottom: 0;
      }
   }
}
