@use 'base/mixins' as m;
@use 'base/variables' as v;

.plans {
   background-color: v.$secondary;

   &__heading {
      @include m.headingBorder(v.$white, v.$primary);
   }

   &__description {
      color: v.$white;
   }

   &__grid {
      display: flex;
      flex-direction: column;
   }

   @include m.tablet {
      &__grid {
         flex-direction: row;
         max-width: 80rem;
         margin-inline: auto;
         margin-block-start: 10rem;
      }
   }
}

.plan {
   flex-grow: 1;
   background-color: v.$white;
   padding: 16rem 4rem 4rem 4rem;
   border-bottom: 0.1rem solid #e1e1e1;

   &__price {
      font-size: 1.8rem;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
   }

   @include m.tablet {
      border: none;
      transition-property: transform;
      transition-duration: 0.3s;

      &:hover {
         transform: scale(1.1);
      }
   }
}

.list {
   &__item {
      text-align: center;
      margin-bottom: 2rem;

      &:last-of-type {
         margin-bottom: 0;
      }
   }
}

/* +-+-+-+-+-+- FIXME: +-+-+-+-+-+- */
.free {
   @include m.iconBg('/build/img/icono_inicio.svg');
}

.business {
   background-color: v.$primary;
   @include m.iconBg('/build/img/icono_negocio.svg');
   order: -1;

   @include m.tablet {
      order: unset;
      // margin: -5rem 0;
      margin-block: -5rem;
      border-radius: 2rem;
      background-position: 50% 7rem;
      padding-top: calc(16rem + 5rem);
      z-index: 999;
   }
}

.pro {
   @include m.iconBg('/build/img/icono_pro.svg');
}
/* +-+-+-+-+-+- FIXME: +-+-+-+-+-+- */
